// colors
$green-dark: #1e8582;
$green-light: #49B8AD;
$purple-dark: #273469;
$orange-light: #F8951B;
$orange-dark: #FB9448;
$yellow-normal: #FBBC46;
$grey-dark: #787878;
$grey-light: #E5E5E5;
$err-message: #FF0A0A
;


// button back-colors
$primary: #F8951B;

// transition
$duration: 1s
;

