.step__score {
  &.two {
    width: 35%;
  }
}
.blood {
  input {
    border: 1px solid red !important;
  }
  label {
    color: red !important;
  }
}

.form__control-lables {
  width: 45%;
  display: flex;
  justify-content: space-between;
}