@import '../variables';



.step__one-form {
  width: 50%;
  margin: 0 auto;

  .country {
    select {
      width: 100%;
      padding: 10px 16px;
      cursor: pointer;
      color: $grey-dark;
    }

    label {
      color: $grey-dark;
    }
  }

  .phone__number {
    margin: 20px 0 10px;

    .phone__number-field {
      padding: 10px 16px;
      border: 1px solid $grey-light;
      width: 100%;
      color: $grey-dark;
      &:focus {
        outline: none
      }
    }

    label {
      color: $grey-dark;
    }
    .next__step-btn {
      background: $green-light;
      border-radius: 30px;
      border: none;
      padding: 6px 25px;
      color: white;
      display: block;
      margin-left: auto;
      margin-top: 10px;
    }
    .user__name-label {
      margin-top: 20px;
    }
  }

}


.invisible__btn {
  border: none;
  background: none;
  cursor: pointer;
  &.previous {
    color: $primary;
  }

}

.user__name-field {
  margin-bottom: 120px;
}