@import '../variables.scss';


.thanks__for {
    padding-top: 40px;
    text-align: center;
    h2 {
        color: $green-light;
        font-size: 36px;
    }
    .it__is-done {
        font-size: 16px;
        color: $grey-dark;
    }
    .thank__you {
        font-size: 14px;
        color: $grey-dark;
        text-align: center;
    }
    .form__is-completed {
        font-size: 14px;
        color: $grey-dark;
        span {
            color: $orange-dark;
        }
    }
    img {
        width: 100%;
    }
}

.btn__next-step {
    background: $primary;
    color: white;
    outline: none;
    border: none;
    padding: 9px 61px;
    border-radius: 30px;
    cursor: pointer;
}