@import '../variables.scss';


.verification {
    text-align: center;
  padding-top: 232px;
    .button-step {
        margin-top: 60px;
    }
    
     p {
        color: $grey-dark;
        font-size: 16px;
        margin-bottom: 82px;
    }
}


.enter__email-verification {
    color: $green-dark;
  font-size: 36px;
  margin: 0;
}
.verify__email {
  display: flex;
  justify-content: center;
}
.please__enter-verification {
  margin-top: 19px;
}