@import '../variables.scss';


.step__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding-bottom: 38px;
    .step__score {
     width: 180px;
      border-bottom: 1px solid $under-score;
    }
    h2 {
      flex: 1;
      margin: 0;
      color: $purple-dark;
    }
  }