@import '~antd/dist/antd.css';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet';
@import './assets/style/variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 40%;
  margin: 0 auto;
}

.container-sm {
  width: 30%;
  margin: 0 auto;
}

.container-lg {
  width: 60%;
  margin: 0 auto;
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
}

.continue__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  &.start {
    justify-content: flex-end;
  }

.btn__next-step {
  background: $primary;
  color: white;
  outline: none;
  border: none;
  padding: 9px 61px;
  border-radius: 30px;
  cursor: pointer;
}
}

.btn__previous-step {
  background: white;
  color: $primary;
  outline: none;
  border: 1px solid $primary;
  color: $primary;
  padding: 9px 61px;
  border-radius: 30px;
  cursor: pointer;
}

.isDisabled {
  background: $disable !important;
  pointer-events: none;
  cursor: not-allowed !important;
  color: black !important;
}

.error__message {
  color: $err-message;
}

button {
  outline: none !important;
  color: white;
}

.none {
  display: none !important;
}

.input_field {
  padding: 10px 16px;
      border: 1px solid $grey-light;
      width: 100%;
      color: $grey-dark;
      &:focus {
        outline: none
      }
}

label {
  color: $grey-dark;
  display: block;
  padding-bottom: 7px;
}

.button-step {
  background: $primary;
  color: white;
  outline: none;
  border: none;
  padding: 9px 61px;
  border-radius: 30px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;  
  margin-bottom: 1.2rem;
  font-weight: 500;
}

p {
  margin-bottom: 0.2rem;
}

.have__you-questions {
  color: $green-dark;
  font-size: 14px;
  text-decoration: underline;
}